@import url('https://fonts.google.com/specimen/Roboto?subset=cyrillic-ext&noto.lang=bg_Cyrl&noto.script=Cyrl');

body {
    background-color: #f4f4f4;;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    border: none;
}

.taskTitle {
    font-weight: 700;
}

p {
    margin: 15px 0 5px;
}